{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "react/jsx-curly-spacing": [1, "always", {"spacing": {
      "objectLiterals": "never"
    }}],
    "jsx-quotes": [1, "prefer-single"],
    "func-names": [0]
  },
  "parser": "babel-eslint"
}