@import '../../styles/variables';

.container {
  position: relative;

  :global .row {
    margin: @margin;
  } 
}

@media (min-width: 1200px) {
  .second :global .col-md-1{
    width: 11.11%;
  }

  .second :global .form-group{
    margin-bottom: 0;
  }

  .button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 190px;
  }
}