@color-main: #695132;
@color-main-fade: fade(@color-main, 50%);
@color-white: #fff;

@margin: 12px;

@font-size: 16px;
@font-size-icon: 24px;
@font-size-logo: 28px;

@button-width: 210px;
@button-height: 60px;


@map-height: 600px;

@input-height: 60px;
@input-margin: 15px;
