@import '../../../styles/variables';

.container {
  display: flex;
  align-items: center;

  font-size: @font-size;
  width: 50%;
  margin: (@margin/2) 0;
  color: @color-main;
}

.icon {
  margin-right: @margin;
  width: 20px;
}