@import '../../styles/variables';

.container {
  display: flex;
  align-items: center;

  border: 1px solid fade(@color-main, 50%);
  width: 100%;
  height: @button-height;

  overflow: hidden;
  cursor: pointer;

  position: relative;

  &:after{		
    content: '^';		
    transform: rotateX(180deg);		
    pointer-events: none;
    position: absolute;
    right: @margin;
  }

  select {
    margin-left: @margin;

    width: 100%;
    height: 100%;
    cursor: pointer;

    border: none;
    box-shadow: none;
    background: transparent;
    appearance: none;
  }

  select:focus {
    outline: none;
  }
}